* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: white;
  --font-color: black;
  --border-color: black;

  --white-color: white;
  --black-color: black;
  --border-white-color: white;

}

@keyframes bottom-block {
  from{
    transform: translateY(30px);
  }
  to{
    transform: translateX(0px);
  }
}
.bottom-block{
  animation: bottom-block 0.5s ease-in-out;
  animation-timeline: view();
}
@keyframes appear {
  from{
scale: 0.75;
  }
  to{
scale: 1;
  }
}
@keyframes opacity {
0%{
  opacity: 0;
}  
25%{
  opacity: 0.25;
}
50%{
  opacity: 0.5;
}
75%{
  opacity: 0.75;
}
100%{
  opacity: 1;
}
}
.block{
  animation: appear 0.5s ease-in-out, opacity 0.5s ease-in-out;
  animation-timeline: view();
  animation-range: entry 20%;
}
@keyframes left {
  from{
    transform: translateX(-20px);
  }  
  to{
    transform: translateX(0px);
  }
}
.left-block{
  animation: left 0.5s ease-in-out;
  animation-timeline: view();
}
@keyframes right {
  from{
    transform: translateX(20px);
  }  
  to{
    transform: translateX(0px);
  }
}
.right-block{
  animation: right 0.5s ease-in-out;
  animation-timeline: view();
}

/* =========================== */
.wrapper-theme {
  background-color: var(--bg-color);
  color: var(--font-color);
  height: auto;
  width: 100%;
}

#theme:checked+.wrapper-theme {
  background-color: var(--black-color);
  color: var(--white-color);
  --border-color: white;
}

.label-theme {
  position: relative;

  z-index: 100000;
}

.label-theme>label>i {
  position: fixed;
  top: 90px;
  right: 1%;
  z-index: 100000;

  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  /* background: black; */
  border: 0.5px solid black;
  padding: 5px 7px;
  border-radius: 50%;
}

.label-theme>label>i:hover {
  transform: scale(1.2);
}

html {
  scroll-behavior: smooth;
}

#logo{
  color: #3E1CE3
}
/* =========================================== */
body {
  height: auto;
  width: 100%;
  font-family: "Bitter", serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ================================================== */
/* Nav Bar Active Link */
.active{
  color: #577a93;
  transition: color 0.4s ease-in-out;
}

/* ---------------------------main-container------------------ */
.main-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92.35vh;
}



.left-hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: auto;

  margin-top: 50px;

  position: relative;
}

.left-hero-container img {
  width: 300px;
  aspect-ratio: 4 / 6;
  align-self: center;
  /* border: 2px solid red; */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  transition: transform 0.2s ease-in-out;
}

.left-hero-container img:hover {
  transform: scale(1.01);
  z-index: 1;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 60%;
  /* border: 2px solid yellow; */
}

.left-top-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.para-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  font-size: 20px;
}

.para-hero h3 {

  font-weight: 350;
}

.para-hero h3 {
  text-align: center;
}

.highlight {
  font-size: 50px;
  font-family: "Marcellus", serif;

  font-weight: 600;
  position: relative;
}


.dynamic-text ul {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

.dynamic-text ul>li {
  position: relative;
  /* border: 2px solid red; */

  list-style: none;
  font-weight: 600;
  animation: slide 6s steps(2) infinite;

}

@keyframes slide {
  100% {
      top: -40px;
  }
}

.dynamic-text ul>li::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-left: 1px solid #3E1CE3;
  background: white;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {

  40%,
  60% {
      left: calc(100% + 24px);
  }

  100% {
      left: 0;
  }
}

.button{
background: rgb(43, 43, 43);
  transition: background 0.3s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 9px;
  
}
.button:hover{
  background: white;
}
.download-CV {
  color: white;
  width: 225px;
  /* background: black; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 9px;
  padding: 10px;
  transition: padding 0.2s ease-in-out;
  
}

.download-CV:hover {
  padding-right: 10%;
  color: black;
}

.download-CV::after{
  content: "";
  display: inline-block;
  margin-left: 10px;
  height: 0;
  width: 0;
  background: url("/public/assets/images/download.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.download-CV:hover::after{
  height: 15px;
  width: 15px;
}
.achievement-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  width: 90%;
  height: auto;

  margin-top: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  padding: 20px 10px;
}

.achievement {
  /* border: 2px solid red; */
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  width: auto;
  height: auto;

  gap: 10px;
}

.text-achievement {
  font-size: 0.9rem;
}

.achievement img {
  /* height: 30px; */
  width: 30px;
  object-fit: cover;
  aspect-ratio: 30 / 30;
}

#red {
  color: #4169E1;
  font-weight: 600;
}

/* ------------------------------END-main-container-------------------------- */

/* ------------------------------------END-home-section------------------------- */

/* ----------------------------------------skills-and-myprojects-section----------------------- */

.wrapper-skills-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background: rgba(134, 154, 204, 1); */
  margin-top: 10px;
}

/* skills */


.skills {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
  min-height: 500px;
 
}
.group > span> svg{
  filter: invert(1) !important;
 
}



.header-skills,
.header-projects {
  font-size: 30px;
  margin: 30px;
}




/* projects */
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background: rgba(134, 154, 204, 1); */
}

.projects {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.images-description-projects {
  /* border: 2px solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas:
      "one two"
      "three four"
      "five six"
      "seven eight"
  ;

  column-gap: 40px;
  row-gap: 40px;
}



.card-projects {

  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;


  /* background: rgba(134, 154, 204, 1); */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);

}

.img-description {
  width: 100%;
  font-weight: 350;

  position: relative;
}

.img-description img {
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;
  aspect-ratio: 4/2;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
}



.description-hovering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;

  background: linear-gradient(360deg, rgba(170, 184, 219, 1), white);
  color: black;
  background-size: cover;
  background-position: center center;
  backdrop-filter: blur(15px);

  position: absolute;
  bottom: 0px;
  transition: height 0.4s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
}

/* .img-description:hover img{
  transform: scale(1.005);
} */

.img-description:hover .description-hovering {
  height: 100%;
  /* transform: scale(1.005); */
  /* border: 1px solid black; */
  border-radius: 10px 10px 0 0;
}

.link-description {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  width: 100%;
  /* margin: 20px 20px; */
}

.para-description {
  width: 80%;
  height: auto;
  margin: 10px 0;

  text-align: center;
}


.link-icon {
  width: 50px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 20px;
}

.link-icon img {
  /* border: 2px solid red; */
  height: 30px;
  width: 30px;
  transition: transform 0.2s ease-in-out;
}

.link-icon img:hover {
  transform: scale(1.2);
}

.brief-description {
  margin-top: 10px;
}

.brief-description h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ----------------------------------------END-skills-and-myprojects-section----------------------- */
/* -----------------------------------------about------------------------------------------ */

.wrapper-about {
  /* background: rgba(134, 154, 204, 1); */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  height: auto;
}



.img-about img {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  /* background-position: center;
  background-size: cover;
  object-fit: cover; */
}


.text-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  gap: 10px;
  width: 80%;
  height: auto;
  margin: 10px 0;
}

.text-about>h1 {
  margin-bottom: 50px;
}

.detail-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: auto;
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  gap: 15px;
  width: 100%;

  /* flex-wrap: wrap; */
}

.interest>ul {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.interest>ul li {
  list-style: none;
  transition: transform 0.2s ease-in-out;
}

.interest>ul li:hover {
  transform: scale(1.2);
  background: rgba(170, 184, 219, 1);
  border-radius: 10px;
  padding: 0 10px;
}

/* -----------------------------------------END-about------------------------------------------ */
/* =----------------------------------------contact-------------------------------------- */
.wrapper-contact {
  margin-top: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 90vh;

  gap: 20px;
}
.contact{
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

.wrapper-contact>h1 {
  margin: 40px;
  font-weight: bold;
}

.contact-icons img:hover {
  transform: scale(1.2);
}

.contact-icons {
  display: flex;
  justify-content: center;
  width: 50%;
}


.email-input a {
  text-decoration: none;
  color: black;
}



.email-input i:hover {
  transform: scale(1.2);
}

/* =----------------------------------------END-contact-------------------------------------- */

/* ---------------------------------------------footer-section--------------------------------------- */






.after-effect > Link::after {
  content: '';
  background: black;
  width: 100%;
  height: 2px;

  transition: transform 0.2s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  position: absolute;
  bottom: 0;
  left: 0;
}

.after-effect > Link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


/* ---------------------------------------------END-footer-section--------------------------------------- */
/* fixed-button */

#fixed-button {
  position: relative;
}

.fixed {
  position: fixed;
  right: 1%;
  bottom: 60px;
  z-index: 10000;
}

.fixed i {
  color: white;
  background: black;
  font-size: 30px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.fixed i:hover {
  transform: scale(1.2);
}

/* ------------------------------------media-query------------------------------------ */

@media screen and (max-width: 1200px) {
  /* .left-hero-container {
      width: 100%;
  }

  .achievement-container {
      width: 100%;
  } */
}

@media screen and (max-width: 1050px) {


  /* grid-container */

.grid-area-one{
  grid-area: one;
}
.grid-area-two{
  grid-area: two;
}
.grid-area-three{
  grid-area:three;
}
.grid-area-four{
  grid-area: four;
}
.grid-area-five{
  grid-area: five;
}
.grid-area-six{
  grid-area: six;
}
.grid-area-seven{
  grid-area: seven;
}
.grid-area-eight{
  grid-area: eight;
}
  .images-description-projects {
     
      row-gap: 30px;

      width: 100%;
  }


  .label-theme>label>i {
      right: 0;
  }

  .fixed {
      right: 0;
  }
}

@media screen and (max-width: 930px) {
  .wrapper-about {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

.images-description-projects{
   grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto, 1fr);
      grid-template-areas:
          "one"
          "two"
          "three"
          "four"
          "five"
          "six"
          "seven"
          "eight"
      ;
}
.custom-css-col{
  flex-direction: column;
}

 
  .text-about>h1 {
      margin-bottom: 20px;
  }
  .detail-about>p {
      text-align: center;
  }
  .interest {
      /* border: 2px solid red; */
      margin-top: 40px;
      padding-bottom: 10px;
  }

  .interest>ul {
      justify-content: center;
  }


}

@media screen and (max-width: 880px) {
  .main-container {
      width: 100%;
  }

  .left-hero-container {
      width: 95%;
  }

.achievement-container{
  width: 95%;
}
}


@media screen and (max-width: 700px) {

 

  .main-container {
      height: auto;
  }

  .left-hero-container {
      height: 100%;
      width: auto;
      flex-direction: column-reverse;

  }


  .hero-container {
      width: auto;
  }

  .para-hero {
      justify-content: center;
      align-items: center;
      font-size: 18px;
      width: 100%;
      /* border: 2px solid red; */
  }

  .para-hero h3 {
      text-align: center;
  }

  .highlight {
      font-size: 25px;
  }

  .achievement-container {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }

  .text-achievement {
      font-size: 1.1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .achievement img {
      /* height: 30px; */
      width: 50px;
      object-fit: cover;
      aspect-ratio: 30 / 30;
  }
  .background{
    background: none;
    height: auto;
  }
  /* .contact{
    flex-direction: column; 
    justify-content: start;
    align-items: center;
  } */
  .left-block{
    width: 100%;
    min-height: 30vh;
  }
  .footer{
    flex-direction: column;
    align-items: center;

  }
  .smallScreen{
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .left-hero-container {
      width: 95%;
      height: auto;
  }

  .achievement {
      width: auto;
      /* margin: 10px 0; */
  }

  .achievement-container hr {
      display: none;
  }
}


@media screen and (max-width: 428px) {
  .dynamic-text ul>li::after {

      width: 100%;

  }


}